body {
    margin: 0;

    font-feature-settings: "lnum";
    letter-spacing: -0.3px;
    font-family: Raleway;
}

*::selection {
    color: white;
    background-color: #499661;
}

.xy-centerer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relative {
    position: relative;
}

.zero-pos {
    position: absolute;
    left: 0;
    top: 0;
}

.stretch {
    width: 100%;
    height: 100%;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer-transparent {
    pointer-events: none;
}

.colorless {
    filter: grayscale(1);
}