.composer-card {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: white;
    border: 1px solid #89b496;
    color: #4e4e4e;

    box-shadow: 0 0 5px 0 #ffffff00, 0 5px 5px 0 rgba(0, 0, 0, 0.1);

    overflow: hidden;
    white-space: nowrap;

    font-family: Raleway;
    font-weight: 600;

    cursor: pointer;

    transition: filter 0.25s, box-shadow 0.25s;
}

.composer-card .composer-name {
    margin: 0;
}

.composer-card:hover {
    transition: box-shadow 0.15s;
    box-shadow: 0 0 5px 0 #89b496, 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}