.display-settings-panels-container {
    position: absolute;
    left: 26px;
    bottom: 0;

    display: flex;
    flex-direction: column;

    zoom: 0.9;
}

.display-settings-panels-container > div {
    min-height: 358px;
}

.display-settings-panel {
    margin-top: 10px;

    border: 1px solid #b7b7b7;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

.display-settings-panel label {
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.display-settings-panel label > * {
    cursor: pointer;
}

.display-settings-panel label span {
    margin-left: 11px;
}

.display-settings-panel section {
    margin: 12px;
}

.display-settings-panel input {
    width: 22px;
    height: 22px;
    margin: 0;
    accent-color: #499661;
}

.order-by-section {
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.25s;
}

.order-by-section > hr {
    margin: 0;
}

.order-by-section-exit-active, .order-by-section-exit-done {
    max-height: 0px;
}