.header {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Alegreya;
    letter-spacing: 0;
}

.header > p {
    font-size: 24px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 0.2em;
}