.generation-range-border {
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image-slice: 1;
    width: calc(100% - 2px);
    height: 100%;
    filter: brightness(0.75)
}