.composer-row {
    margin-top: 10px;
    height: 54px;
    width: 100%;

    transition-property: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    will-change: opacity, transform;
}

.composer-row-exit-active, .composer-row-exit-done {
    opacity: 0;
}