.timeline {
    width: 80vh;
    min-width: 60%;
    max-width: 90%;
    height: 80%;
}

* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 20px;
}

.composers-scroller {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    width: calc(100% + 8px); /* + scrollbar width */
}

.composers-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 54px;
}