.succession-diagram-container {
    min-width: 80%;
    max-width: 100%;
    width: 100vh;
    aspect-ratio: 23 / 10;
    height: auto;
    max-height: 80%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.succession-diagram-title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.succession-diagram-title {
    font-size: 1.3em;
    margin-bottom: 20px;
    font-family: Alegreya;
}