.succession-diagram-root {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s;
}

.succession-diagram-root-enter-active, .succession-diagram-root-enter-done {
    opacity: 1;
}

.succession-diagram-root-exit-active, .succession-diagram-root-enter-active, .succession-diagram-root-enter-done {
    visibility: visible;
}

.succession-diagram-container {
    min-width: 80%;
    max-width: 100%;
    width: 100vh;
    aspect-ratio: 23 / 10;
    height: auto;
    max-height: 80%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.succession-diagram-title {
    margin-bottom: 30px;
}

.succession-diagram-title > span {
    font-size: 1.3em;
}