.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.33);
    cursor: pointer;

    transition: opacity 0.25s;
    
    opacity: 0;
    visibility: hidden;
}

.overlay-exit-active, .overlay-enter-active, .overlay-enter-done {
    visibility: visible;
}

.overlay-enter-active, .overlay-enter-done {
    opacity: 1;
}