.hidden-composer-card {
    display: inline-flex;
    height: 17px;

    font-size: 0.9em;

    background-color: #f9f9f9;
    color: #9f9f9f;
    border-radius: 4px;
    padding: 5px;

    box-shadow: 0 0 5px 0 #bbbbbb00;
    cursor: pointer;

    overflow: hidden;

    transition: max-width 0.25s, margin 0.25s, padding 0.25s, opacity 0.25s, box-shadow 0.1s;
    max-width: 0;
    margin: 0;
    padding: 0;
    opacity: 0;

    visibility: hidden;
}

.hidden-composer-card-enter-active, .hidden-composer-card-enter-done {
    max-width: 100%;
    margin: 5px;
    padding: 5px;
    opacity: 1;
}

.hidden-composer-card-exit-active, .hidden-composer-card-enter-active, .hidden-composer-card-enter-done {
    visibility: visible;
}

.hidden-composer-card:hover {
    box-shadow: 0 0 5px 0 #bbbbbb;
}